<svg width="20" height="19" viewBox="0 0 20 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 0C15.4451 0 16.3281 0.226936 17.0981 0.630818L4.48441 13.2445C1.68704 10.4738 0 8.15561 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0ZM8.55 17.03C7.58717 16.1569 6.68551 15.339 5.85579 14.5616L18.6099 1.80753C19.4778 2.77603 20 4.06465 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35L8.55 17.03Z" fill="#73777A"/>
</svg>
