
<svg width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	<path
		fill-rule="evenodd"
		clip-rule="evenodd"
		d="M24 9.77734C24 8.86867 23.3874 8.0742 22.5087 7.8431L16.0087 6.13376C15.6752 6.04607 15.3248 6.04607 14.9913 6.13376L8.49134 7.8431C7.61255 8.0742 7 8.86867 7 9.77734V16V16C7.00002 20.8032 10.7627 24.7276 15.5013 24.9864C20.2387 24.7263 24 20.8025 24 16.0001V16V9.77734Z"
		fill="#ED1B24"
	/>
	<path d="M12 11.5L19 18.5" stroke="white" stroke-width="1.3125" stroke-linecap="round" />
	<path d="M19 11.5L12 18.5" stroke="white" stroke-width="1.3125" stroke-linecap="round" />
</svg>
